{include file="public/header" /}

<div class="iframe wrapper">
    <div class="title">管理中心</div>
    <div class="content start_content">
        <div class="contentWarp">
            <div class="contentWarp_item clearfix">
                <div class="section_select">
                    <div class="item item_pradmin-icon">
                        <i class="iconfont icon-money"></i>
                        <div class="desc">
                            <div class="tit">{$count.new_order}</div>
                            <span>今日订单总数</span>
                        </div>
                    </div>
                    <div class="item item_order">
                        <i class="iconfont icon-user-o"></i>
                        <div class="desc">
                            <div class="tit">{$count.new_users}</div>
                            <span>今日会员总数</span>
                        </div>
                        <i class="icon"></i>
                    </div>
                    <div class="item item_comment">
                        <i class="iconfont icon-comment"></i>
                        <div class="desc">
                            <div class="tit">{$count.comment}</div>
                            <span>今日待审评论数</span>
                        </div>
                    </div>
                    <div class="item item_flow">
                        <i class="iconfont icon-view"></i>
                        <div class="desc">
                            <div class="tit">{$count.today_login}</div>
                            <span>今日访问量</span>
                        </div>
                        <i class="icon"></i>
                    </div>
                </div>
            </div>
            <div class="contentWarp_item clearfix">
                <div class="section_order_select">
                    <ul>
                        <li>
                            <a href="{:url('Admin/Order/index',array('order_status'=>0))}">
                                <i class="ice ice_w"></i>
                                <div class="t">待处理订单</div>
                                <span class="number">{$count.handle_order}</span>
                            </a>
                        </li>
                        <li>
                            <a  href="{:url('Admin/Goods/goodsList')}">
                                <i class="ice ice_q"></i>
                                <div class="t">商品数量</div>
                                <span class="number">{$count.goods}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('Admin/Article/articleList')}">
                                <i class="ice ice_y"></i>
                                <div class="t">文章数量</div>
                                <span class="number">{$count.article}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('Admin/User/index')}">
                                <i class="ice ice_f"></i>
                                <div class="t">会员总数</div>
                                <span class="number">{$count.users}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="contentWarp">
            <div class="section col_section">
                <div class="sc_title">
                    <i class="sc_icon"></i>
                    <h3>版本信息</h3>
                </div>
                <div class="sc_warp" style="padding-bottom: 30px;">
                    <table cellpadding="0" cellspacing="0" class="system_table">
                        <tbody>
                        <tr>
                            <td class="gray_bg">程序版本:</td>
                            <td>诺庄NZestate {$sys_info.version}</td>
                            <td class="gray_bg">更新时间:</td>
                            <td><?php echo date('Y-m-d');?></td>
                        </tr>
                        <tr>
                            <td class="gray_bg">程序开发:</td>
                            <td>{$shop_config.shop_info_store_name|default='诺庄NZestate'}</td>
                            <td class="gray_bg">版权所有:</td>
                            <td>诺庄科技有限公司</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="contentWarp">
            <div class="section system_section" style="float: none;width: inherit;">
                <div class="system_section_con">
                    <div class="sc_title">
                        <i class="sc_icon"></i>
                        <h3>系统信息</h3>
                    </div>
                    <div class="sc_warp" id="system_warp" style="display: block;padding-bottom: 30px;">
                        <table cellpadding="0" cellspacing="0" class="system_table">
                            <tbody><tr>
                                <td class="gray_bg">服务器操作系统:</td>
                                <td>{$sys_info.os}</td>
                                <td class="gray_bg">服务器域名/IP:</td>
                                <td>{$sys_info.domain} [ {$sys_info.ip} ]</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">服务器环境:</td>
                                <td>{$sys_info.web_server}</td>
                                <td class="gray_bg">PHP 版本:</td>
                                <td>{$sys_info.phpv}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">Mysql 版本:</td>
                                <td>{$sys_info.mysql_version}</td>
                                <td class="gray_bg">GD 版本:</td>
                                <td>{$sys_info.gdinfo}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">文件上传限制:</td>
                                <td>{$sys_info.fileupload}</td>
                                <td class="gray_bg">最大占用内存:</td>
                                <td>{$sys_info.memory_limit}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">最大执行时间:</td>
                                <td>{$sys_info.max_ex_time}</td>
                                <td class="gray_bg">安全模式:</td>
                                <td>{$sys_info.safe_mode}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">Zlib支持:</td>
                                <td>{$sys_info.zlib}</td>
                                <td class="gray_bg">Curl支持:</td>
                                <td>{$sys_info.curl}</td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{include file="public/footer" /}